<section class="hero-banner without-image small"  style="background-color: #{{current_group_bg_color}};">
    <style>
        .hero-banner .container:before {
            background: #{{current_group_circle_color}};
        }
    </style>
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="breadcrumbs-block">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="{{base_path}}">{{breadcrumb_home}}</a>
                  </li>
                  <li class="breadcrumb-item">
                    <a href="{{base_path}}{{short_name}}">{{current_group_label}} House</a>
                  </li>
                  <li class="breadcrumb-item">
                    <a href="{{base_path}}{{short_name}}/get-involved">{{get_involved}}</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    {{house_calendar}}
                  </li>
                </ol>
              </nav>
          </div>
          <div class="banner-info items-gap">
            <h1>
              {{house_calendar}}
            </h1>
          </div>
          {{simplified_menu_html|t}}
        </div>
      </div>
    </div>
  </section>