{#
/**
 * @file
 * Default theme implementation to display a group.
 *
 * Available variables:
 * - group: The group entity with limited access to object properties and
 *   methods. Only "getter" methods (method names starting with "get", "has",
 *   or "is") and a few common methods such as "id" and "label" are available.
 *   Calling other methods (such as group.delete) will result in an exception.
 * - label: The title of the group.
 * - content: All group items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the
 *   printing of a given child element.
 * - url: Direct URL of the current group.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - group: The current template type (also known as a "theming hook").
 *   - group--[type]: The current group type. For example, if the group is a
 *     "Classroom" it would result in "group--classroom". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - group--[view_mode]: The View Mode of the group; for example, a
 *     teaser would result in: "group--teaser", and full: "group--full".
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 *
 * @see template_preprocess_group()
 *
 * @ingroup themeable
 */
#}

<section class="hero-banner" style="background-color: #{{group.field_color.value}};">
  <div class="container" {{ attributes }}>
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="breadcrumbs-block">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{ label }}</li>
            </ol>
          </nav>
        </div>
        <div class="banner-info">
          <h1>{{ group.field_heading.value }}</h1>
        </div>
        <div class="internal-links">
            {% for menus in group.field_menus %}
              <div class="dropdown">
                {% set items = simplify_menu(menus.value['target_id']) %}
                {% for menu_item in items.menu_tree %}
                  <a class="btn btn-secondary dropdown-toggle hide-in-mobile" role="button">{{ menu_item.text }}</a>
                  <a class="btn btn-secondary dropdown-toggle  hide-in-desktop" >{{ menu_item.text }}</a>
                  <div id="dropdownMenuDescription" class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2" aria-describedby="dropdownMenuDescriptionText">
                    <ul class="clearfix nav">
                      <li class="hide-in-desktop">
                        <a class="nav-link nav-link--" href="{{menu_item.url}}">{{ menu_item.text }}</a>
                      </li>
                      {% for submenu_item in menu_item.submenu %}
                      <li class="navigation__item nav-item">
                        <a href="{{ submenu_item.url }}" class="nav-link nav-link--">{{ submenu_item.text }}</a>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endfor %}
              </div>
            {% endfor %}
          </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="hero-img">
          <img src="{{file_url(group.field_image.0.entity.field_media_image.0.entity.uri.value)}}" alt="{{file_url(group.field_image.0.entity.field_media_image.0.entity.alt.value)}}">
        </div>
      </div>
    </div>
  </div>
</section>

  <div class="layout-builder-components space">
    {{ content._layout_builder }}

  </div>
