{#
/**
 * @file
 * Theme override for a main view template using Calendar View style.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    'view',
    'view-id-' ~ id|clean_class,
    'view-display-id-' ~ display_id|clean_class,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if title %}
    {{ title }}
  {% endif %}
  {{ title_suffix }}
    <div class="row">
      <div class="col-md-3">
        <div class="view-header">
          {{ header }}
          
          <div>
            <select class="redirect-dropdown" onchange="redirectToLink()">
              <option value="{{base_path}}group/{{current_group_id}}/room-reservation-calendar">Reservation</option>
              <option value="{{base_path}}group/{{current_group_id}}/calendar_view">Events</option>
            </select>
          </div>

          {# <a class="btn btn-teritory medium" href="{{ path('entity.group_relationship.create_form', {'group': current_group_id , plugin_id: 'group_node:reserve_room'}) }}">Reserve a Room</a> #}
        </div>
      </div>
      <div class="col-md-9">
        <div>
        {% if exposed %}
          <div class="view-filters">
            {{ exposed }}
          </div>
        {% endif %}
          <div>
            <select class="redirect-dropdown" onchange="redirectToLink()">
              <option data-class="monthly" value="{{base_path}}group/{{current_group_id}}/room-reservation-calendar?c_type=monthly">Monthly</option>
              <option data-class="weekly" value="{{base_path}}group/{{current_group_id}}/weekly-room-reservation-calendar?c_type=weekly">Weekly</option>
            </select>
          </div>
        </div>
        
        {% if attachment_before %}
          <div class="attachment attachment-before">
            {{ attachment_before }}
          </div>
        {% endif %}

        {% if pager %}
          {{ pager }}
        {% endif %}

        {% if rows %}
          <div class="view-content">
            {{ rows }}
          </div>
        {% elseif empty %}
          <div class="view-empty">
            {{ empty }}
          </div>
        {% endif %}

        {% if attachment_after %}
          <div class="attachment attachment-after">
            {{ attachment_after }}
          </div>
        {% endif %}
        {% if more %}
          {{ more }}
        {% endif %}
        {% if footer %}
          <div class="view-footer">
            {{ footer }}
          </div>
        {% endif %}
        {% if feed_icons %}
          <div class="feed-icons">
            {{ feed_icons }}
          </div>
        {% endif %}
      </div>
    </div>
    
  
</div>