{#
/**
 * @file
 * Theme override for a main view template using Calendar View style.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    'view',
    'view-id-' ~ id|clean_class,
    'view-display-id-' ~ display_id|clean_class,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
{% include directory ~ '/templates/calendar-header.html.twig' with {'short_name': short_name}  %}
<section class="calender-page space">
  <div{{ attributes.addClass(classes) }}>
    <div class="container calendar-view">
      <div class="row">
      {{ title_prefix }}
      {% if title %}
        <h5>{{ title }}</h5>
      {% endif %}
      {{ title_suffix }}
      <div class="row">
        <div class="calender-left">
          {% if header %}
            <div class="view-header">
              {{ header }}
            </div>
          {% endif %}
          <div class="select-outer">
            <select class="redirect-dropdown" onchange="redirectToLink()">
              <option value="{{base_path}}group/{{short_name}}/room-reservation-calendar">Reservation</option>
              <option value="{{base_path}}group/{{short_name}}/calendar">Events</option>
            </select>
          </div>
          {% if add_content_ctas %}
            {{add_content_ctas|t}}
          {% endif %}
        </div>
        <div class="calender-right">
          {% if exposed %}
            <div class="view-filters">
              {{ exposed }}
            </div>
          {% endif %}

          {% if pager %}
            {{ pager }}
          {% endif %}

            <div class="select-outer">
              <select class="redirect-dropdown" onchange="redirectToLink()">
                <option data-class="month" value="{{base_path}}group/{{short_name}}/room-reservation-calendar?c_type=month">Month</option>
                <option data-class="week" value="{{base_path}}group/{{short_name}}/week-room-reservation-calendar?c_type=week">Week</option>
              </select>
            </div>
          
          {% if attachment_before %}
            <div class="attachment attachment-before">
              {{ attachment_before }}
            </div>
          {% endif %}

          

          {% if rows %}
            <div class="view-content">
              {{ rows }}
            </div>
          {% elseif empty %}
            <div class="view-empty">
              {{ empty }}
            </div>
          {% endif %}

          {% if attachment_after %}
            <div class="attachment attachment-after">
              {{ attachment_after }}
            </div>
          {% endif %}
          {% if more %}
            {{ more }}
          {% endif %}
          {% if footer %}
            <div class="view-footer">
              {{ footer }}
            </div>
          {% endif %}
          {% if feed_icons %}
            <div class="feed-icons">
              {{ feed_icons }}
            </div>
          {% endif %}
        </div>
      </div>
      </div>
    </div>
  
  </div>
</section>
