
<div class="reports">
  <div class="view" id="view-participantions-survey">
  <section class="hero-banner without-image small">
    <style>
        .hero-banner .container:before {
            background: #ffea3f;
        }
    </style>
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="breadcrumbs-block">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="{{base_path}}">{{breadcrumb_home}}</a>
                  </li>
                  <li class="breadcrumb-item">
                    <a href="{{breadcrumb_dashboard_link}}">{{breadcrumb_dashboard}}</a>
                  </li>
                  <li class="breadcrumb-item">
                    <a href="{{breadcrumb_reports_link}}">{{breadcrumb_reports}}</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    {{ title }}
                  </li>
                </ol>
              </nav>
          </div>
          <div class="banner-info items-gap">
            <h1>
              {{ title }}
            </h1>
          </div>
        </div>
      </div>
    </div>
  </section>
    <div class="action-container">
      {% if header %}
        <div class="view-header">
          {{ header }}
        </div>
      {% endif %}
      {% if exposed %}
        <div class="view-filters">
          {{ exposed }}
        </div>
      {% endif %}
      {% if attachment_before %}
        <div class="attachment attachment-before">
          {{ attachment_before }}
        </div>
      {% endif %}
    </div>
    {% if rows %}
      <div class="view-content row">
        {{ rows }}
      </div>
    {% elseif empty %}
      <div class="view-empty">
        {{ empty }}
      </div>
    {% endif %}

        {% if pager %}
      {{ pager }}
    {% endif %}
    {% if attachment_after %}
      <div class="attachment attachment-after">
        {{ attachment_after }}
      </div>
    {% endif %}
    {% if more %}
      {{ more }}
    {% endif %}
    {% if footer %}
      <div class="view-footer">
        {{ footer }}
      </div>
    {% endif %}
  </div>
</div>