{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'image-with-text',
  ]
%}
{% set heading_alignment = '' %}

{% if content.field_alignment %}
  {% set heading_alignment = content.field_alignment[0]['#markup'] %}
{% endif %}
{% set background_color = content.field_background_color.0 %}
  {% block content %}
<section {{ attributes.addClass(classes) }} style="background-color: {{background_color}}">
  <div class="container">
    <div class="row">
      <div class="image-with-text-inner">
        <div class="col-12 col-lg-8">
          <div class="img-column">
             {{content.field_media_image}}
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="info-column">
            {{ title_prefix }}
              {% if label %}
                <h2{{ title_attributes }} class="alignment-{{heading_alignment}}">{{ label }}</h2>
              {% endif %}
            {{ title_suffix }}
            <p>{{ content.body }}</p>
            {# {{dump(content.field_cta.0['#title'])}} #}
            <div class="btn-wrapper">
              {# {{ content.field_cta }} #}
              <a href="{{content.field_cta.0['#url'].toString()}}" class="arrow-link" role="button">
                <svg width="27" height="30" viewBox="0 0 27 30" fill="none" xmlns="http://www.w3.org/2000/svg" role="none">
                  <path d="M0 14.6816H24.5156" stroke="#011F5B" stroke-width="1.94183"></path>
                  <path d="M14.3203 4L25.0004 14.4373L14.3203 25.1174" stroke="#011F5B" stroke-width="1.94183"></path>
                </svg><span class="sr-only-hidden">{{ label }}</span>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

  {% endblock %}
