<footer class="site-footer">
      {% block footer %}
        <div class="{{ container }}">
            {% if page.footer_first or page.footer_second or page.footer_third %}
              <div class="row site-footer__top clearfix">
                <div class="col-12 col-lg-6 region-footer-one">
                  {{ page.footer_first }}
                </div>
                <div class="col-12 col-lg-3 region-footer-second">
                  {{ page.footer_second }}
                </div>
                <div class="col-12 col-lg-3 region-footer-third">
                  {{ page.footer_third }}
                </div>
              </div>
            {% endif %}
            <div class="row">
              {% if page.footer_fifth %}
                <div class="footer-copyright">
                  {{ page.footer_fifth }}
                </div>
              {% endif %}
            </div>
        </div>
      {% endblock %}
    </footer>
