<header id="header" role="banner" aria-label="{{ 'Site header'|t}}">
      {% block head %}
        {% if page.header or page.primary_menu or page.header_form %}
          <nav class="navbar navbar-dark bg-transparent navbar-expand-lg" id="navbar-main">
            {% if container_navbar %}
            <div class="container right-menu">
            {% endif %}
              {{ page.header }}
              {% if page.primary_menu or page.header_form %}
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="{{ navbar_collapse_btn_data }}" data-bs-target="#CollapsingNavbar" aria-controls="CollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="{{ navbar_collapse_class }}" id="CollapsingNavbar">
                  {% if navbar_offcanvas %}
                    <div class="offcanvas-header">
                      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                  {% endif %}
                  {{ page.primary_menu }}
                  {% if page.header_form %}
                    <div class="form-inline navbar-form justify-content-end">
                      {{ page.header_form }}
                    </div>
                  {% endif %}
                  {% if navbar_offcanvas %}
                    </div>
                  {% endif %}
                </div>
              {% endif %}
              {% if sidebar_collapse %}
                <button class="navbar-toggler navbar-toggler-left collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#CollapsingLeft" aria-controls="CollapsingLeft" aria-expanded="false" aria-label="Toggle navigation"></button>
              {% endif %}
            {% if container_navbar %}
            </div>
            {% endif %}
          </nav>
        {% endif %}
      {% endblock %}
    </header>
