{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}
{%
  set classes = [
    'staff'
  ]
%}
<article {{ attributes.addClass(classes) }}>
  {% block content %}
    <div class="staff-img">
      {{content.user_picture}}
    </div>
    <div class="staff-name">
      {{ content.field_display_name }}
      {{content.field_title_position}}
      {# <div class="contact-details">
        <ul>
          {% if field_display_email %}
            <li><a href="{{ field_display_email }}" class="email">{{ field_display_email }}</a></li>
          {% endif %}
          {% if field_phone_no  %}
            <li><a href="tel:{{ field_phone_no }}" class="phone">{{ field_phone_no }}</a></li>
          {% endif %}
        </ul>
      </div> #}
    </div>
  {% endblock %}
</article>


