{#
/**
 * @file
 * Theme override for a main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    'view',
    'view-' ~ id|clean_class,
    'view-id-' ~ id,
    'view-display-id-' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
{% set page_title = title ? title : 'Events'  %}
<section class="hero-banner without-image small">
    <style>
        .hero-banner .container:before {
            background: #ffea3f;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="breadcrumbs-block">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{{base_path}}">{{breadcrumb_home}}</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{{breadcrumb_dashboard_link}}">{{breadcrumb_dashboard}}</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                              {{ page_title }}
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="banner-info items-gap">
                    <h1>
                    {{ title_prefix }}
                       {{ page_title }}
                       {{ title_suffix }}
                    </h1>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<div class="dashboard-reservations">
  <div{{ attributes.addClass(classes) }} id="view-display-id-{{display_id}}">
    
    <div class="view-header">
        <ul class="tabs tab--primary layout-tabs events-tab-blocks" role="tablist">
          {% if user_has_permission("my reservations dashboard") %}
            <li class="tabs__tab" role="presentation">
                <a href="/dashboard/my-upcoming-reservations">
                  <span class="nav-item nav-link {% if display_id == 'page_1'%} is-active {% endif %} tabs__link" data-wrap="my_events_block" role="tab" aria-controls="panel-my-events" aria-selected="true">
                      My Reservations
                  </span>
                </a>
            </li>
            <li class="tabs__tab" role="presentation">
                <a href="/dashboard/my-past-reservations">
                  <span class="nav-item nav-link {% if display_id == 'page_2'%} is-active {% endif %} tabs__link" data-wrap="past_events" role="tab" aria-controls="panel-past-events" aria-selected="false" tabindex="-2">
                      My Past Reservations
                  </span>
                </a>
            </li>
          {% endif %}
          {% if user_has_permission("pending moderation reservations dashboard") %}
            <li class="tabs__tab" role="presentation">
                <a href="/dashboard/reservations-pending-moderation">
                  <span class="nav-item nav-link {% if display_id == 'page_3'%} is-active {% endif %} tabs__link" data-wrap="my_pending_events" role="tab" aria-controls="panel-pending-events" aria-selected="false" tabindex="-1">
                      Pending Moderation
                  </span>
                </a>
            </li>
          {% endif %}
          {% if user_has_permission("all reservations dashboard") %}
            <li class="tabs__tab" role="presentation">
                <a href="/dashboard/all-upcoming-reservations">
                  <span class="nav-item nav-link {% if display_id == 'page_4'%} is-active {% endif %} tabs__link" data-wrap="my_events_block" role="tab" aria-controls="panel-my-events" aria-selected="true">
                      All Upcoming Reservations
                  </span>
                </a>
            </li>
            <li class="tabs__tab" role="presentation">
                <a href="/dashboard/all-past-reservations">
                  <span class="nav-item nav-link {% if display_id == 'page_5'%} is-active {% endif %} tabs__link" data-wrap="past_events" role="tab" aria-controls="panel-past-events" aria-selected="false" tabindex="-2">
                      All Past Reservations
                  </span>
                </a>
            </li>
          {% endif %}
        </ul>
      </div>
    
    {% if exposed %}
      <div class="view-filters">
        {{ exposed }}
      </div>
    {% endif %}
    {% if header.result %}
      <div class="view-header">
        {{ header.result }}
      </div>
    {% endif %}
    {% if attachment_before %}
      <div class="attachment attachment-before">
        {{ attachment_before }}
      </div>
    {% endif %}

    {% if rows %}
      <div class="view-content row">
        {{ rows }}
      </div>
    {% elseif empty %}
      <div class="view-empty">
        {{ empty }}
      </div>
    {% endif %}

    {% if attachment_after %}
      <div class="attachment attachment-after">
        {{ attachment_after }}
      </div>
    {% endif %}
    {% if more %}
      {{ more }}
    {% endif %}
    {% if footer %}
      <div class="view-footer">
        {{ footer }}
      </div>
      {% if pager %}
       {{ pager }}
      {% endif %}
    {% endif %}
    {% if feed_icons %}
      <div class="feed-icons">
        {{ feed_icons }}
      </div>
    {% endif %}
  </div>
</div>
